div > h1 {
    margin-top: 50px;
}
h1 {
    font-size: 24px;
}

.main-block{
    margin-top: 50px;
}

.server-button{
    margin-bottom: 20px;
}

.change-background-color {
    background-color: tomato;
}